<h1>Driver Dashboard</h1>

<div id="map" style="width:100%; height:550px;"></div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script> --}}
<script>
    var app = new Vue({
        el: "#app",
        data: {
            driverLatLng: {},
            userDetails: {},
            socket: io()
        },
        mounted: function() {
            if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(this.showPosition);
            } else {
                console.log("Geo Location not supported by browser");
            }
            this.socket.on('user_details', function(data) {
                console.log(data);
                this.userDetails = data;
                console.log(this.userDetails);
            });
        },
        methods: {
            emitLocation: function() {
                this.socket.json.emit('location', this.driverLatLng);
            },
            showPosition: function(position) {
                this.driverLatLng.latitude = position.coords.latitude;
                this.driverLatLng.longitude = position.coords.longitude;
                console.log(this.driverLatLng.latitude);
                console.log(this.driverLatLng.longitude);
                this.emitLocation();
                return;
            },
        }
    });
</script>