<div class="row">
    <div class="col l6 m10 s10 offset-l3 offset-m1 offset-s1">
        <h1 class="center"><i class="fa fa-ambulance" aria-hidden="true"></i></h1>
        <h2 class="center">Login</h2>
        <form action="/driver/login" method="POST">
            <div class="col l10 m12 s12 offset-l1">
                <label for="email">Email Id</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="col l10 m12 s12 offset-l1">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
            </div>
            <div class="center">
                <input type="submit" name="login" id="login" class="btn blue" value="LOGIN">
            </div>
        </form>
    </div>
</div>

