<div class="row">
    <div class="col l6 m10 s10 offset-l3 offset-m1 offset-s1">
        <h1 class="center"><i class="fa fa-ambulance" aria-hidden="true"></i></h1>
        <h2 class="center">Register</h2>
        <form action="/driver/register" method="post">
            <div class="col l10 m12 s12 offset-l1">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name">
            </div>
            <div class="col l10 m12 s12 offset-l1">
                <label for="email">Email Id</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="col l10 m12 s12 offset-l1">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
            </div>
            <div class="col l10 m12 s12 offset-l1">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password">
            </div>
            <div class="center">
                <input type="submit" name="register" id="register" class="btn btn-primary blue" value="Register" style="border-radius:50px; width:80%">
            </div>
        </form>
    </div>
</div>

