<h1 class="center mt-4">Welcome to Ambicare</h1>

<div class="row">
    <div class="col l4 s10 offset-s1 offset-l1">
        <div class="card card-body text-center">
            <h1 class="center"><i class="fa fa-ambulance" aria-hidden="true"></i></h1>
            <h2 class="center">Users</h2>
            <center><a href="/register" style="border-radius:50px; width:80%" class="btn btn-primary btn-block mb-2 blue">Register</a></center><br>
            <center><a href="/login" style="border-radius:50px; width:80%" class="btn btn-secondary btn-block mb-2 blue">Login</a></center><br>
        </div>
    </div>

    <div class="col l4 s10 offset-s1 offset-l2">
        <div class="card card-body text-center">
            <h1 class="center"><i class="fa fa-ambulance" aria-hidden="true"></i></h1>
            <h2 class="center">Drivers</h2>
            <center><a href="/driver/register" style="border-radius:50px; width:80%" class="btn btn-primary btn-block mb-2 blue">Register</a></center><br>
            <center><a href="/driver/login" style="border-radius:50px; width:80%" class="btn btn-secondary btn-block mb-2 blue">Login</a></center> <br>
        </div>
    </div>
</div>
