<h1 class="text-center mt-4">Welcome to Ambicare</h1>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fa fa-ambulance" aria-hidden="true"></i></h1>
            <h2>Users</h2>
            <a href="/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/login" class="btn btn-secondary btn-block mb-2">Login</a>
        </div>
    </div>

    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fa fa-ambulance" aria-hidden="true"></i></h1>
            <h2>Drivers</h2>
            <a href="/driver/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/driver/login" class="btn btn-secondary btn-block mb-2">Login</a>
        </div>
    </div>
</div>