<nav class="blue">
    <a href="#" class="brand-logo center">Ambicare</a>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons show">menu</i></a>
    <a class="waves-effect right" href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a>
</nav>
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../../static/images/user-profile-bg.jpg">
      </div>
      <a href="#user"><img class="circle" src="../../static/images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">\{{userDetails.name}}</span></a>
      <a href="#email"><span class="white-text email">\{{userDetails.email}}</span></a>
    </div></li>
    <li><a href="/view_booking">View Booking</a></li>
    <li><a href="#!">Cancel Booking</a></li>
    <li><div class="divider">Update Profile</div></li>
    <li><a class="waves-effect" href="/logout">Logout</a></li>
</ul>
  
<div class="container" id="map" style="width:100%; height:80vh;">   
</div>
<hr>
<center><button data-target="modal1" id="book-btn" class="waves-effect waves-light btn btn-med blue modal-trigger" style="border-radius:50px; width:50%">Book Now</nutton></center>


<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Enter the drop location</h4><br>
        <div class="col l10 m12 s12 offset-l1">
            <label for="drop">Pickup Location</label>
            <input type="text" name="drop" id="drop" class="form-control" v-model="userDetails.location" placeholder="Enter drop location" required>
        </div>
        <div class="col l10 m12 s12 offset-l1">
            <label for="drop">Drop Location</label>
            <input type="text" name="drop" id="drop" class="form-control" v-model="dropLocation" placeholder="Enter drop location" required>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="center btn blue modal-close" style="border-radius:50px;" v-on:click="this.sendUserDetails">Book</a>
    </div>
</div>
    
    {{!-- Importing Vue JS --}}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {{!-- Importing Socket.io --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmO9P5KIQozGxheHpxp_0oEA3yEuatQKU"></script> 

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $(".modal").modal();
    });
</script>

<script>
    Vue.config.delimiters = ['${', '}']
    var app = new Vue({
        el: '#app',
        data: {
            userLatLng: {},
            driverLatLng: {},
            map,
            socket: io(),
            user_socket: io(),
            markers: [],
            userDetails: {
                name: 'Brad Traversy',
                email: 'brad@gmail.com',
                phone: '8454044679',
                location: 'VIVA Institute of Technology Shirgaon, Veer Sawarkar road, Virar(East), Tal-Vasai Khalghar Chandansar Virar, Maharashtra 401303 India'
            },
            userName: null,
            dropLocation: null
        },
        mounted: function() {
            if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(this.showPosition);
            } else {
                console.log("Geo Location not supported by browser");
            }
            //Socket for listening driver's location
            this.socket.on('location', function(data){
                this.driverLatLng = data;
                var driver = {
                    coords: {lat: this.driverLatLng.latitude, lng: this.driverLatLng.longitude},
                    content: 'Driver location'
                }
            });
        },
        methods: {
            addMarker: function(props) {
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: this.map,
                    title: 'Locations',
                });

                //Check content
                if(props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content:props.content
                    });
                    marker.addListener('click', function(){
                        infoWindow.open(this.map, marker);
                    });
                }
                return;
            },
            //TODO: Implement Distance Matrix API to find the nearest driver location
            //TODO: Change the icon for driver location
            showPosition: function(position) {
                this.userLatLng.latitude = position.coords.latitude;
                this.userLatLng.longitude = position.coords.longitude;
                this.map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: {lat: this.userLatLng.latitude, lng: this.userLatLng.longitude}
                })
                this.markers = [
                    {
                        coords: {lat: 19.474187, lng: 72.853139},
                        content: 'Your current location'
                    },
                    {
                        coords: {lat: 19.4566757, lng: 72.8191789},
                        content: 'Driver Location',
                    }
                ];
                for(var i = 0; i < this.markers.length; i++){
                    // Add marker
                    this.addMarker(this.markers[i]);
                    console.log(this.markers[i].coords);
                }
                /*var infowindow = new google.maps.InfoWindow({
                    content: 'Your current location',
                    maxWidth: 200
                });
                this.markers[0].addListener('click', function() {
                    infowindow.open(this.map, this.markers);
                });*/
                return;
            },
            sendUserDetails: function() {
                this.userDetails = {
                    name: "Manthan Kansara",
                    email: "manthankansara7@gmail.com",
                    phone: "8454044679",
                    pickupLocation: "Virar (East)",
                    dropLocation: this.dropLocation
                }
                this.socket.json.emit('user_details', this.userDetails);
                Swal.fire(
                'Ambicare',
                'Request sent to the driver',
                'success'
                );
            }
        }
    })
</script>